* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// Mixin
@mixin hoverEffect {
  background-color: #fff;
  color: #009dff;
  border: 1px solid #009dff;
  transition: all 0.5s ease;
}

@mixin hoverEffect2 {
  background-color: #5db2ff;
  color: #fff;
  transition: all 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  color: #1f1f1f;
}

a {
  text-decoration: none;
}

// Header
header {
  top: 0;
  width: 100%;

  .header-top {
    padding: 12px 0;
    background: #f5fbff;

    display: flex;
    justify-content: space-between;

    .social-media {
      margin-left: 125px;

      & a {
        font-size: 15px;
        color: #c7c7c7;
        margin-right: 12px;
      }
    }

    .contact-list {
      margin-right: 125px;
      & a {
        font-size: 13px;
        color: #919191;
        margin-left: 50px;

        & i {
          color: #5db2ff;
          margin-right: 7px;
        }
      }
    }
  }

  .header-main {
    padding: 18px 0;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .logo {
      margin-left: 125px;
    }

    .nav ul {
      list-style: none;
      display: flex;
      justify-content: space-between;

      & li {
        margin: 0 10px;

        & a {
          font-size: 15px;
          color: #727272;
          font-weight: 500;

          &:hover {
            color: #1f1f1f;
            transition: all 0.5s ease;
          }
        }
      }
    }

    .cta-btn .book-btn {
      background: #009dff;
      padding: 12px 26px;
      font-size: 14px;
      font-weight: 400;
      border: 1px solid transparent;
      color: #fff;
      border-radius: 4px;
      margin-right: 125px;

      &:hover {
        @include hoverEffect;
      }
    }
  }
}

// Hero Section
.hero {
  background-image: url(../img/heroimage.webp);
  width: 1349px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 700px;
  width: 100%;

  .hero-text {
    position: absolute;
    top: 305px;
    left: 130px;

    h3 {
      color: #1f1f1f;
      font-size: 70px;
      letter-spacing: 2px;
      font-weight: 300;
      line-height: 1.2em;

      span {
        font-weight: 700;
      }
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: #727272;
      margin-bottom: 40px;
      margin-top: 10px;
    }

    .service-btn {
      background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
      display: inline-block;
      padding: 18px 44px;
      font-size: 15px;
      font-weight: 500;
      border: 0;
      border: 1 px solid transparent;
      border-radius: 4px;
      text-align: center;
      color: #fff;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to right, #fff 0%, #fff 100%);
        border: 1px solid #009dff;
        color: #009dff;
        transition: all 0.5s ease;
      }
    }
  }
}

// Service Section
.service {
  width: 100%;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  background-color: #83c4ff;

  .single_service:nth-child(2) {
    background-color: #5db2ff;
  }

  .single_service:nth-child(1) {
    padding-left: 120px;
  }

  .single_service:nth-child(3) {
    padding-right: 120px;
  }

  .single_service {
    padding: 40px 30px;

    i {
      font-size: 50px;
      color: #fff;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 26px;
      font-weight: 500;
      color: #fff;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #fff;
      margin-top: 10px;
      margin-bottom: 26px;
    }

    .btn {
      color: #fff;
      display: inline-block;
      padding: 9px 24px;
      font-size: 15px;
      font-weight: 400;
      border: 1px solid #fff;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;

      &:hover {
        @include hoverEffect;
        transition: 0.5s;
      }
    }
  }
}

// Welcome Section
.welcome_area {
  padding-top: 120px;
  padding-bottom: 220px;

  display: flex;
  flex-wrap: wrap;

  .welcome_thumb {
    flex: 0 0 50%;
    position: relative;

    .thumb_1 {
      margin-left: 130px;

      img {
        width: 60%;
        vertical-align: middle;
      }
    }

    .thumb_2 {
      position: absolute;
      bottom: -94px;
      right: -37px;

      img {
        width: 89%;
      }
    }
  }

  .welcome_info {
    flex: 0 0 50%;
    padding-left: 90px;

    h2 {
      font-size: 18px;
      position: relative;
      font-weight: 400;
      color: #1f1f1f;
      margin-bottom: 40px;
      padding-bottom: 9px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 50px;
        background: #5db2ff;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 36px;
      margin-bottom: 10px;
      width: 60%;
    }

    p {
      font-size: 16px;
      color: #727272;
      line-height: 28px;
      font-weight: 300;
      margin-bottom: 13px;
      width: 77%;
    }

    ul {
      margin-bottom: 40px;
      margin-top: 25px;

      li {
        list-style: none;
        color: #727272;
        font-size: 16px;
        line-height: 28px;

        i {
          margin-right: 10px;
          color: #5db2ff;
        }
      }
    }
    .btn-white {
      color: #5db2ff;
      display: inline-block;
      padding: 9px 24px;
      font-size: 15px;
      font-weight: 400;
      border: 1px solid #5db2ff;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;

      &:hover {
        @include hoverEffect2;
      }
    }
  }
}

// Department Section
.department_area {
  max-width: 100%;
  background: #f5fbff;
  padding-top: 120px;
  padding-bottom: 90px;

  .department_title {
    text-align: center;
    margin-bottom: 55px;

    h3 {
      font-size: 36px;
      font-weight: 500;
      line-height: 48px;
      color: #1f1f1f;
      position: relative;
      padding-bottom: 15px;

      &::before {
        position: absolute;
        background: #5db2ff;
        height: 2px;
        width: 50px;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }

    p {
      font-size: 16px;
      color: #727272;
      line-height: 28px;
      margin-bottom: 0;
      font-weight: 300;
    }
  }

  .department_card {
    display: grid;
    grid-template-columns: repeat(3, 29.333333%);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    .single_department {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
      background-color: #fff;
      margin-bottom: 30px;
      width: 362px;

      &:hover img {
        transform: scale(1.2);
        transition: all 0.5s ease;
      }

      .department_thumb {
        overflow: hidden;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        img {
          width: 100%;
        }
      }

      .department_content {
        padding: 22px 30px 24px 30px;

        h3 {
          font-size: 22px;
          color: #1f1f1f;
          line-height: 33px;
          font-weight: 500;
        }

        p {
          font-size: 16px;
          font-weight: 300;
          line-height: 28px;
          color: #727272;
          margin-top: 5px;
          margin-bottom: 10px;
        }

        .btn-learn {
          color: #5db2ff;
          font-size: 16px;
          background-color: transparent;

          &:hover {
            text-decoration: underline;
            color: #5db2ff;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}

// Testimonial
.testimonial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/testimonial.webp);
  padding: 180px 0;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;

  i {
    color: #fff;
    font-size: 40px;
  }

  p {
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 47px;
  }

  h4 {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding-top: 21px;

    &::before {
      position: absolute;
      background: #fff;
      width: 60px;
      height: 2px;
      content: "";
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }
}

// Expert Doctors
.expert_doctors {
  max-width: 100%;
  padding: 120px 0;

  .doctors_title {
    margin-bottom: 55px;

    h3 {
      font-size: 36px;
      font-weight: 500;
      color: #1f1f1f;
    }
  }

  .expert_card {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: center;
    align-items: center;

    .single_expert {
      width: 270px;

      &:hover img {
        transform: scale(1.05);
        transition: all 0.3s ease;
      }

      .expert_thumb {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;

        img {
          width: 100%;
          vertical-align: middle;
          border-style: none;
        }
      }

      .expert_name {
        background: #f5fbff;
        padding-top: 16px;
        padding-bottom: 18px;
        text-align: center;

        &:hover {
          background: #009dff;
          transition: all 0.3s ease;
        }

        h3 {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 1px;
        }

        span {
          color: #919191;
          font-size: 13px;
        }
      }
    }
  }
}
