* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

header {
  top: 0;
  width: 100%;
}

header .header-top {
  padding: 12px 0;
  background: #f5fbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-top .social-media {
  margin-left: 125px;
}

header .header-top .social-media a {
  font-size: 15px;
  color: #c7c7c7;
  margin-right: 12px;
}

header .header-top .contact-list {
  margin-right: 125px;
}

header .header-top .contact-list a {
  font-size: 13px;
  color: #919191;
  margin-left: 50px;
}

header .header-top .contact-list a i {
  color: #5db2ff;
  margin-right: 7px;
}

header .header-main {
  padding: 18px 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header .header-main .logo {
  margin-left: 125px;
}

header .header-main .nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-main .nav ul li {
  margin: 0 10px;
}

header .header-main .nav ul li a {
  font-size: 15px;
  color: #727272;
  font-weight: 500;
}

header .header-main .nav ul li a:hover {
  color: #1f1f1f;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .header-main .cta-btn .book-btn {
  background: #009dff;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 4px;
  margin-right: 125px;
}

header .header-main .cta-btn .book-btn:hover {
  background-color: #fff;
  color: #009dff;
  border: 1px solid #009dff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero {
  background-image: url(../img/heroimage.webp);
  width: 1349px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 700px;
  width: 100%;
}

.hero .hero-text {
  position: absolute;
  top: 305px;
  left: 130px;
}

.hero .hero-text h3 {
  color: #1f1f1f;
  font-size: 70px;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 1.2em;
}

.hero .hero-text h3 span {
  font-weight: 700;
}

.hero .hero-text p {
  font-size: 18px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 40px;
  margin-top: 10px;
}

.hero .hero-text .service-btn {
  background: -webkit-gradient(linear, left top, right top, from(#0181f5), to(#5db2ff));
  background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
  display: inline-block;
  padding: 18px 44px;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  border: 1 px solid transparent;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.hero .hero-text .service-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background: linear-gradient(to right, #fff 0%, #fff 100%);
  border: 1px solid #009dff;
  color: #009dff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 30% 35%;
      grid-template-columns: 35% 30% 35%;
  background-color: #83c4ff;
}

.service .single_service:nth-child(2) {
  background-color: #5db2ff;
}

.service .single_service {
  padding: 40px 30px;
}

.service .single_service i {
  font-size: 50px;
  color: #fff;
  margin-bottom: 10px;
}

.service .single_service h3 {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}

.service .single_service p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 26px;
}

.service .single_service .btn {
  color: #fff;
  display: inline-block;
  padding: 9px 24px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.service .single_service .btn:hover {
  background-color: #fff;
  color: #009dff;
  border: 1px solid #009dff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=main.css.map */